In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [6]:
label_encoder = LabelEncoder()

df['Gender'] = label_encoder.fit_transform(df['Gender'])  # Female=0, Male=1
df['Geography'] = label_encoder.fit_transform(df['Geography'])  # France=0, Germany=1, Spain=2

In [7]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
X = df.drop('Exited', axis = 1)
Y = df['Exited']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [10]:
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Input

In [15]:
model = Sequential()

# Add an Input layer to specify the shape of the input data
model.add(Input(shape=(X_train.shape[1],)))

# First hidden layer with 32 neurons
model.add(Dense(units=32, activation='relu'))


# The dropout layer helps mitigate overfitting or temporarily deactivating 
# a random subset of neurons during each forward pass in training, 
# forcing the model to learn more robust features.
model.add(Dropout(0.5))  


# The second hidden layer with 16 neurons refines the prev. captured features and captures higher-level abstractions.
model.add(Dense(activation='relu', units=16))  # Second hidden layer

# Output layer for binary classification
model.add(Dense(activation='sigmoid', units=1))  

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# During training, the cross-entropy loss function exponentially increases the penalty for wrong outputs 
# to drive the weights and biases more aggressively in the right direction.

In [16]:
model.fit(X_train, y_train, batch_size=32, epochs=50)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 260us/step - accuracy: 0.7792 - loss: 0.5336
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 277us/step - accuracy: 0.8011 - loss: 0.4682
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.8095 - loss: 0.4501
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 262us/step - accuracy: 0.8096 - loss: 0.4438
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 262us/step - accuracy: 0.8162 - loss: 0.4218
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 280us/step - accuracy: 0.8242 - loss: 0.4177
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 273us/step - accuracy: 0.8265 - loss: 0.4124
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.8224 - loss: 0.4115
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.8375 - loss: 0.3996
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.8278 - loss: 0.4040
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.8320 - loss: 0.3974
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.8370 - loss: 0.3966
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 258us/step - accuracy: 0.8332 - loss: 0.3977
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.8341 - loss: 0.3867
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 273us/step - accuracy: 0.8397 - loss: 0.3786
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.8337 - loss: 0.3853
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 261us/step - accuracy: 0.8410 - loss: 0.3742
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 260us/step - accuracy: 0.8321 - loss: 0.3919
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.8470 - loss: 0.3725
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 259us/step - accuracy: 0.8417 - loss: 0.3772
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.8452 - loss: 0.3735
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 280us/step - accuracy: 0.8419 - loss: 0.3734
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.8446 - loss: 0.3688
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - accuracy: 0.8552 - loss: 0.3690
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 261us/step - accuracy: 0.8381 - loss: 0.3774
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 254us/step - accuracy: 0.8473 - loss: 0.3588
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 258us/step - accuracy: 0.8470 - loss: 0.3695
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - accuracy: 0.8451 - loss: 0.3755
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 256us/step - accuracy: 0.8400 - loss: 0.3871
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 257us/step - accuracy: 0.8468 - loss: 0.3673
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - accuracy: 0.8532 - loss: 0.3627
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 256us/step - accuracy: 0.8552 - loss: 0.3543
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.8498 - loss: 0.3633
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 276us/step - accuracy: 0.8466 - loss: 0.3631
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 256us/step - accuracy: 0.8406 - loss: 0.3713
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.8456 - loss: 0.3638
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.8491 - loss: 0.3567
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.8549 - loss: 0.3532
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.8473 - loss: 0.3669
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.8533 - loss: 0.3556
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.8570 - loss: 0.3512
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 253us/step - accuracy: 0.8381 - loss: 0.3793
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 253us/step - accuracy: 0.8505 - loss: 0.3673
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 259us/step - accuracy: 0.8466 - loss: 0.3576
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 258us/step - accuracy: 0.8485 - loss: 0.3671
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 256us/step - accuracy: 0.8534 - loss: 0.3551
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.8515 - loss: 0.3503
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 251us/step - accuracy: 0.8550 - loss: 0.3531
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.8484 - loss: 0.3538
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.8517 - loss: 0.3554

In [17]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step

array([[False],
       [ True],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)

conf_matrix = confusion_matrix(y_test, y_pred)

print("Accuracy Score:", accuracy)
print("Confusion Matrix:\n", conf_matrix)

Accuracy Score: 0.8575
Confusion Matrix:
 [[1524   70]
 [ 215  191]]